<!-- View for showing a single `Post` -->
<!-- `post_path` -->

<h1><%= @post.title %></h1>
<p><%= @post.body %></p>

<p>
  <%= link_to "Edit", edit_post_path(@post) %>
</p>
<p>
  <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: 'Delete this post and all associated comments?'} %>
</p>
<p>
  <%= link_to "Back to List", root_path %>
</p>

